<div class="container">
  <nav>
    <ul>
      <li><strong>Profile</strong></li>
    </ul>
    <ul>
      <li><a href="/products">Products</a></li>
      <li><a href="/api/sessions/auth/logout"> Logout </a></li>
    </ul>
  </nav>
  <article>
    <p><strong><h3 style="display: inline;">First Name:</h3> </strong> <h5 style="display: inline;" >{{userInfo.firstName}}</h5></p>
    <p><strong><h3 style="display: inline;">Last Name:</h3> </strong> <h5 style="display: inline;" >{{userInfo.lastName}}</h5></p>
    <p><strong><h3 style="display: inline;">Username:</h3> </strong> <h5 style="display: inline;" >{{userInfo.username}}</h5></p>
    <p><strong><h3 style="display: inline;">Role:</h3> </strong> <h5 style="display: inline;" >{{userInfo.role}}</h5></p>
    <p><strong><h3 style="display: inline;">Email:</h3> </strong> <h5 style="display: inline;" >{{userInfo.email}}</h5></p>
    <p><strong><h3 style="display: inline;">Age:</h3> </strong> <h5 style="display: inline;" >{{userInfo.age}}</h5></p>
  </article>
  <hr>

  <h2>Cart</h2>

  <table>
  <thead>
    <tr>
     
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>

    {{#each car.products}}

    <tr>
      <td>{{this.product.title}}</a></td>
      <td>{{this.quantity}}</td>
      <td>{{this.product.price}}</a></td>
     <td><button  onclick="deleteItemFromCart('{{../car._id}}','{{this.product._id}}')"> delete </button></td>
      
    </tr>

    {{/each }}

  </tbody>
</table>
</div>
<script src="js/cart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
