<div class="container">
    <hr>
    <div class="grid">
      <div><h2>Welcome, {{userInfo.firstName}}</h2></div>
      <div><h3>CartID: {{userInfo.cart}}</h3></div>
    </div>
    <hr>
    <h2>Products List</h2>
    <div class="grid">
      <div>
        <h2><strong>Total Pages: {{paginate.totalPages}}</strong></h2>
      </div>
      <div>
        <h2><strong>Current page: {{paginate.page}}</strong></h2>
      </div>
      <div>
        <a href="{{paginate.prevPage}}"  {{#unless paginate.hasPrevPage}} disabled {{/unless}}  role="button" >Prev </a>
        <a href="{{paginate.nextPage}}" {{#unless paginate.hasNextPage}} disabled {{/unless}}   role="button" >Next </a>
        <a href="/me" role="button" >Home</a>
      </div>
    </div>
    {{#each paginate.payload}}
    <details>
    <summary role="button" class="contrast">{{this.title}} - Price: ${{this.price}} - Stock: ${{this.stock}}</summary>
    <article>
      <p><strong>Category: </strong>{{category}}</p>
      <p><strong>Description: </strong>{{description}}</p>
      <p><strong>Stock: </strong>{{stock}}</p>
      <p><strong>Price: </strong>{{price}}</p>
      <button  onclick="addToCart('{{../userInfo.cart}}','{{id}}')"> Add to cart </button> 

    </article>
    </details>
    {{/each}}

    
    
</div>
<script src="js/cart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>